
<!DOCTYPE html>
<html>
	<head>
		<title>Error Page</title>
		<link href="bootstrap.min.css" rel="stylesheet" />
		<link href="/css/a1-style.css" rel="stylesheet" />
	</head>

	<body style="display: flex; align-items: center; min-height: 100vh;" style="padding-bottom: 70px;">
		<div class="album py-5" style="margin: auto; width: 100%;">
			<div class="container" style="text-align: center;">
				<h2 style="color: rgb(163, 99, 77);"><%= error %></h2>
				<a type="button" class="btn my-button" 
                   style="font-weight: bold; padding: 8px 30px; font-size: 25px;" 
                   href="javascript:history.back()">
                   Back
                </a>
			</div>
		</div>
	</body>
</html>