    
    <div style="margin-top: 40px; margin-bottom: 50px; font-weight: lighter;">
        <i class="bi bi-c-circle"></i>
        <span>2025 Pantry+ <%=pageName%> - FIT2095 A2</span>

    </div>
    
    </div>
    
    
<script src="/bootstrap.bundle.min.js"></script>
</body>
</html>